

<div *ngIf="logged" class="main">  





  <nav *ngIf="!smallScreen" class="my-2 my-md-0 mr-md-3">

    <div class="app-icon">
      <img src="assets/logo.png" class="nav-logo colored">
    </div>

    <div class="user-info">
      <div class="user-image">
          <img src="https://i.insider.com/5dc098e0d8d84605b9674ef9?width=1100&format=jpeg&auto=webp">
      </div>
      <div class="user-data">
        <div class="user-name">{{UserProfile?.name}}</div>
        <div class="user-email">{{UserProfile?.email}}</div>
      </div>
    </div>

    <div class="separator"></div>

    <div routerLink="/home" class="nav-item" [class.selected]="this.router.url=='/home'">
      <i class="fas fa-th-list fa-fw"></i>
      <a   >Home</a>
    </div>

    <div  routerLink="/profile" class="nav-item" [class.selected]="this.router.url=='/profile'">
      <i class="fas fa-id-card fa-fw"></i>
      <a >Profilo</a>
    </div>

    <div routerLink="/telegram-messages/videonotes" class="nav-item" [class.selected]="this.router.url.indexOf('/telegram-messages')==0">
      <i class="fab fa-telegram-plane fa-fw"></i>
      <a  >Messaggi Telegram</a>
    </div>


    <div class="separator"></div>

    <div class="menu-footer">
      <button pButton pRipple class="p-button-rounded logout-button" (click)="signOut()" label="Log out"></button>
    </div>
    
  </nav>  
  
  
  
</div>


<div #scrollableContainer [hidden]="!logged" class="page-content" [class.gamepanel]="gameService.gameRunning" [class.gamepanel-opened]="gameService.gameRunning && gameService.panelOpened">

  
  <div class="title-header" [class.closed]="topMenuClosed || smallScreen" *ngIf="this.pages && this.pages[this.router.url.split('/')[1]]">

    <button *ngIf="smallScreen" pButton pRipple type="button" icon="fas fa-bars" class="p-button-rounded menu-button" (click)="menuOpened=true;"></button>
    <h1>{{pages[this.router.url.split('/')[1]].title}}</h1>
    <div class="quick-menu" *ngIf="pages[this.router.url.split('/')[1]].submenus.length">
        <div *ngFor="let submenu of pages[this.router.url.split('/')[1]].submenus" [class.selected]="submenu.route == this.router.url" [routerLink]="submenu.route">{{submenu.title}}</div>
    </div>

    <div class="quick-menu-small" *ngIf="pages[this.router.url.split('/')[1]].submenus.length">
      <div *ngFor="let submenu of pages[this.router.url.split('/')[1]].submenus" [class.selected]="submenu.route == this.router.url" [routerLink]="submenu.route">{{submenu.title}}</div>
  </div>
  </div>

  <div class="dummy-title-header"></div>

  <router-outlet></router-outlet>
</div>

<div *ngIf="logged" class="alerts-container">
  <div *ngFor="let notification of notificationService.notifications" class="alert alert-{{notification.type}}" role="alert"  [routerLink]="notification.route" (click)="notificationService.onNotificationClick(notification)" >
    {{notification.text}}
  </div>
</div>

<div *ngIf="logged && smallScreen && menuOpened" class="mobile-menu-overlay" (click)="menuOpened = false"></div>
<nav *ngIf="logged && smallScreen" [class.opened]="menuOpened"  class="mobile-menu my-2 my-md-0 mr-md-3">

  <div class="app-icon">
    <img src="assets/logo.png" class="nav-logo colored">
  </div>

  <div class="user-info">
    <div class="user-image">
        <img src="https://i.insider.com/5dc098e0d8d84605b9674ef9?width=1100&format=jpeg&auto=webp">
    </div>
    <div class="user-data">
      <div class="user-name">{{UserProfile?.name}}</div>
      <div class="user-email">{{UserProfile?.email}}</div>
    </div>
  </div>

  <div class="separator"></div>

  <div routerLink="/home" class="nav-item" [class.selected]="this.router.url=='/home'">
    <i class="fas fa-th-list fa-fw"></i>
    <a   >Home</a>
  </div>

  <div  routerLink="/profile" class="nav-item" [class.selected]="this.router.url=='/profile'">
    <i class="fas fa-id-card fa-fw"></i>
    <a >Profilo</a>
  </div>

  <div routerLink="/telegram-messages/videonotes" class="nav-item" [class.selected]="this.router.url.indexOf('/telegram-messages')==0">
    <i class="fab fa-telegram-plane fa-fw"></i>
    <a  >Messaggi Telegram</a>
  </div>


  <div class="separator"></div>

  <div class="menu-footer">
    <button pButton pRipple class="p-button-rounded logout-button" (click)="signOut()" label="Log out"></button>
  </div>
  
</nav>

<div *ngIf="gameService.gameRunning" class="game-panel" [class.opened]="gameService.panelOpened">
  <div class="toolbar">

    <button >
      <a class="fas fa-gamepad"></a>
    </button>


    <button >
      <a class="fas fa-users"></a>
    </button>

    <button >
      <a class="fas fa-chart-bar"></a>
    </button>

    <button *ngIf="gameService.panelOpened" (click)="gameService.hideConfigurationPanel()">
      <a class="fas fa-cog"></a>
    </button>
    <button *ngIf="!gameService.panelOpened" (click)="gameService.openConfigurationPanel()">
      <a class="fas fa-cog"></a>
    </button>
  </div>
  
  <iframe *ngIf="gameService.currentPanel" [src]="gameService.currentPanel"></iframe>
</div>



<div *ngIf="!logged" class="slide-panel-container noanimation" [class.left]="this.router.url=='/register'" [class.right]="this.router.url=='/login'" #panel>
  <div class="content left">
    <app-signup-page></app-signup-page>
  </div>
  <div class="content right">
    <app-signin-page></app-signin-page>
  </div>
  <img src="assets/logo.png" class="logo colored">
  <div id="login-register-overlay">
    <div class="overlay-background">
      <div class="gradient"></div>
      <app-canvas-connection-vfx position="fixed" zIndex="0"></app-canvas-connection-vfx>
      <img src="assets/logo.png" class="logo white">
    </div>
    <div class="overlay-content ">
      <div class="left">
        <h1>Sei già registrato?</h1>
        <p>Accedi e utilizza i tool oCAP! Ci sei mancato!</p>
      </div>
      <div class="right">
        <h1>Non sei iscritto?</h1>
        <p>Registrati gratuitamente e scopri cosa oCAP Live ha da offrire!</p>
      </div>
    </div>
    <button pButton pRipple type="button" label="Accedi" class="p-button-rounded left"  (click)="test(panel)"></button>
    <button pButton pRipple type="button" label="Registrati" class="p-button-rounded right"  (click)="test(panel)"></button>
  </div>
</div>


